@import "../../../../styles/base/variables";

.section--footer {
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: $darkColor;
  .footer__title-size {
    font-size: 26px;
  }
  span {
    cursor: pointer;
    padding: 0 5px;
  }
  span:hover {
    color: gray;
    background-color: $hoverGlobalsColor;
    border-radius: 3px;
  }
}