<div class="container site-notice">
  <address>
    <p class="mb-0">Radulescu Eduard Andrei</p>
    <p class="mb-0">Vienna Austria</p>
    <p class="mb-0">
      <a href="mailto:radulescu.eduard.andrei@gmail.com">radulescu.eduard.andrei@gmail.com</a>
    </p>
    <p class="mb-0">
      <a href="tel:+436604297713">+43 660 4297713</a>
    </p>
  </address>
  <h4>Legal Notice</h4>
  <p>Any excerpt or commercial use requires the prior written consent.</p>
  <h4>Disclaimer</h4>
  <p>No guarantee can be given that all information will be complete, correct and up-to-date at all times. All information may be
    supplemented, removed or changed without prior notice.</p>
  <h4>Data protection</h4>
  <p>The use of the contact data published in the imprint or comparable information such as postal addresses, telephone and fax numbers as
    well as email addresses by third parties for the transmission of not expressly requested information is not permitted.</p>
  <h4>Copyright and Trademark Law</h4>
  <p>The author endeavors to respect the copyrights of the images, graphics and texts used in all publications, to use images, graphics and
    texts created by himself or to use royalty-free images, graphics and texts. All brand names and trademarks mentioned within the Internet
    offer and possibly protected by third parties are subject without restriction to the provisions of the respectively valid trademark law
    and the ownership rights of the respective registered owners. Just because of the mere mention is not to conclude that trademarks are
    not protected by rights of third parties! The copyright for published, created by the author objects remains solely with the author of
    the pages. Reproduction or use of such graphics and texts in other electronic or printed publications is not permitted without the
    express permission of the author.</p>
</div>
