<section class="container section--terminal">
    <div class="terminal">
        <div class="bar">
            <div class="button red"></div>
            <div class="button yellow"></div>
            <div class="button green"></div>
        </div>
        <div class="screen"><p class="command">Andy.currentLocation</p>
            <p class="response">Vienna, Austria</p>
            <p class="command">Andy.currentJob</p>
            <p class="response">Fullstack Developer @ BAWAG PSK</p>
            <p class="command">Andy.interests</p>
            <p class="response array"><span class="array-element">Coding</span>,
                <span class="array-element">Learning</span>,<span class="array-element">Electronics</span>,
                <span class="array-element">Sports</span>,
                <span class="array-element">Cars</span></p>
            <p class="command">Andy.education</p>
            <p class="response">Computer Science - Master Degree - University of Transylvania of Brașov</p>
            <p class="command">Andy.skills</p>
            <p class="response array"><span class="array-element">Node.js</span>,
                <span class="array-element">MySQL</span>,
                <span class="array-element">Python</span>,
                <span class="array-element">MongoDB</span>,
                <span class="array-element">HTML/CSS</span>,
                <span class="array-element">Javascript/Typescript</span>,
                <span class="array-element">Typescript</span>,
                <span class="array-element">Angular</span>,
                <span class="array-element">Java/ Java(Spring-boot)</span>,
                <span class="array-element">Node.js/ Nest.js</span>,
                <span class="array-element">Git</span>,
                <span class="array-element">Docker</span>,
                <span class="array-element">Linux</span></p>
            <p class="command"><span class="cursor-white">&nbsp;</span></p></div>
    </div>
</section>
