.section--info {
  padding-top: 300px;
  padding-bottom: 200px;
  background-color: darkgray;
  background-image: url('src/assets/background2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

}
