.section--info {
  padding-top: 300px;
  padding-bottom: 200px;
  background-color: darkgray;
  background-image: url('/assets/info-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
