.section--info {
  padding-top: 20vw;
  padding-bottom: 7vw;
  background-color: darkgray;
  background-image: url('/assets/info-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
