<section class="about--title container">
    <div class="about--title__title-container">
        <h1 class="about--title__title d-inline">About me </h1>
        <span class="about--title__cursor">&nbsp;</span>
    </div>

    <div>
        <p class="about--title__body-content mb-0 text-justify text-lg-left">
            Curious kid, dedicated and eager to develop my personal skills and stay in a perpetuate learning environment
            among people who do understand the meaning of responsibility. Hard-working, fast-learner, expertise and good
            communication skills, are some of my best traits.
        </p>
    </div>
</section>
