<section class="section--contact-info">
    <div class="container">
        <div>
            <div class="d-flex justify-content-center">
                <img src="../../assets/phone.png" width="32px" height="32px">
                <span class="ml-3"> +0040735747637</span>
            </div>
            <div class="d-flex justify-content-center">
                <img src="../../assets/email.png" width="32px" height="32px">
                <span class="ml-3"> radulescu.eduard.andrei@gmail.com</span>
            </div>
            <div class="d-flex justify-content-center">
                <img src="../../assets/skype-logo.png" width="32px" height="32px">
                <span class="ml-3">andy_radulescu</span>
            </div>
        </div>
    </div>
</section>