<section class="section--contact-info">
  <div class="container">
    <div>
      <div class="d-flex justify-content-center">
        <div class="col-4 row justify-content-sm-between">
          <img src="../../assets/social/phone.png" width="32px" height="32px">
          <span class="ml-4"><a href="tel:+436604297713">+43 660 4297713</a></span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-4 row justify-content-sm-between">
          <img src="../../assets/social/email.png" width="32px" height="32px">
          <span class="ml-3">
            <a href="mailto:radulescu.eduard.andrei@gmail.com">radulescu.eduard.andrei@gmail.com</a>
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-4 row justify-content-sm-between">
          <img src="../../assets/social/skype-logo.png" width="32px" height="32px">
          <span class="ml-3">andy_radulescu</span>
        </div>
      </div>
    </div>
  </div>
</section>
