.section--contact {
  position: relative;
  padding-top: 300px;
  padding-bottom: 200px;
  background-color: darkgray;
  background-image: url('src/assets/bridge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;

  .content {
    .contact__text {
      font-size: 26px;
      color: white;
      font-style: italic;
    }

    .contact__title {
      font-size: 32px;
      font-weight: 600;
      color: white;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#000, #ccc);
    opacity: .6;
  }
}
