<div class="row justify-content-center">
  <p class="title--big mt-0">
    DEVELOPER.
  </p>
</div>
<div class="row justify-content-center align-items-center">
  <a class="mr-3" routerLink="contact" style="text-decoration: none">
    <button type="button" class="btn btn-light">CONTACT</button>
  </a>
  <a href="https://drive.google.com/file/d/1qq3IQAQQs3fzQSMiwpih119r3Pj30Cl1/view?usp=sharing"
     target="_blank" style="text-decoration: none">
    <button type="button" class="btn btn-light">RESUME</button>
  </a>
</div>
