<div class="row justify-content-center">
    <p class="title--big mt-0">
        DEVELOPER.
    </p>
</div>
<div class="row justify-content-center align-items-center">
    <a routerLink="/contact" style="text-decoration: none">
        <app-button buttonText="Contact"></app-button>
    </a>
    <a href="https://drive.google.com/file/d/1qq3IQAQQs3fzQSMiwpih119r3Pj30Cl1/view?usp=sharing"
       target="_blank" style="text-decoration: none">
        <app-button buttonText="Resume"></app-button>
    </a>
</div>