@import "../../../styles/base/variables";
@import "../../../styles/animation/animation";

.about--title {
  margin-top: 100px;

  .about--title__title-container {
    font-family: monospace;

    .about--title__title {
      &::before {
        content: "> ";
      }

      color: $darkColor;
      font-size: 5.7vw;
      @media screen and (max-width: 992px) {
        font-size: 28px;
      }
    }

    .about--title__cursor {
      font-size: 5.7vw;
      background-color: $darkColor;
      animation: blinker 1s linear infinite;
    }

    padding: 10% 30px 70px;
  }

  .about--title__body-content {
    font-size: 22px;
  }
}