<section class="about--title container">
    <div class="about--title__title-container">
        <h1 class="about--title__title d-inline">Andy Radulescu </h1>
        <span class="about--title__cursor">&nbsp;</span>
    </div>

    <div>
        <p class="about--title__body-content mb-0">
            Developer with full of professionalism and of course the thing called "Passion". I am responsible and
            hard-working person with good communication and fast-learning skills. I am very dedicated and I'm trying to
            develop new skills everyday.
        </p>
    </div>
</section>