@import "src/styles/base/variables";

.section--about-me {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $sectionContrast;

  .about-me__text {
    font-size: 24px;
  }

  .about-me__job {
    font-family: 'Roboto Mono', monospace;
  }

  .about-me__title {
    font-size: 32px;
    //-webkit-text-stroke: 1px #ffdb4d;
    -webkit-text-stroke: 2px #312b96;
    //color: #96276f;
    color: #17a2b8;
    letter-spacing: 1.5px;
    font-family: 'Modak', cursive;
  }

  .image-fit {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
}
