<app-section-info></app-section-info>
<section class="section--about-me">
  <div class="container">
    <div class="row justify-content-center">
      <img src="assets/andy.jpg" alt="profile-picture" class="image-fit mb-5">
    </div>
    <div class="row justify-content-center">
      <h2 class="about-me__title text-center text-xl-left mb-0">Andy Rădulescu</h2>
    </div>
    <div class="row justify-content-center">
      <p class="mb-5 text-center about-me__job">ᐧ Full stack developer ᐧ</p>
    </div>
    <div class="row justify-content-center">
      <h2 class="about-me__title mb-4 text-center text-xl-left">My major is in having fun while programming</h2>
    </div>
    <div class="row justify-content-center">
      <p class="about-me__text">
        Seriously, let's cut the marketing fluff. You want a website or mobile app that actually works → that's
        what I do. If you want to know more about working with me, pick up the phone and give me a call (or
        email).
      </p>
      <p class="about-me__text"> Also, let me show you a piece of what I do!</p>
    </div>
  </div>
</section>
<app-projects></app-projects>
