@import "src/styles/base/variables";

.section--footer {
  padding-top: 25px;
  padding-bottom: 25px;
  //background-color: $darkColor;
  .footer__title-size {
    font-size: 26px;
  }
  span {
    cursor: pointer;
    padding: 0 5px;
  }
  span:hover {
    color: gray;
    background-color: $hoverGlobalsColor;
    border-radius: 3px;
  }
  .social-links {
    img {
      margin-right: 7px;
    }
  }
}
